.footnotes {
  margin: 0 auto;
  @include font-size($footnotes-font-size);
  ol {
    list-style-position: outside;
    margin: 0 1rem 0 0;
    li {
      p {
        text-indent: 0;
      }
      p:first-child {
        text-indent: 0;
      }
      p:last-child {
        margin-bottom: 0.25rem;
      }
    }
  }
}

sup {
  line-height: 0;
  position: relative;
  top: -0.7em;
  vertical-align: baseline;
}

.footnote {
  background-color: $fn-bg-color;
  border: $footnote-border;
  padding: $footnote-padding;
  text-decoration: none;
  @include font-size(0.8rem);
}
