<footer>
  <div class="footer-inner">
    {% if page.tags %}
    <div class="foot-link foot-link-prev">
      {% if page.previous %}
      <a href="{{ page.previous.url }}">Previous Post</a>
      {% else %}
      <a>Previous Post</a>
      {% endif %}
    </div>

    <div class="foot-link foot-link-home"><a href="/">Home</a></div>

    <div class="foot-link foot-link-next">
      {% if page.next %}
      <a href="{{ page.next.url }}">Next Post</a>
      {% else %}
      <a>Next Post</a>
      {% endif %}
    </div>
    {% endif %}
  </div>

</footer>
