{%- assign prevclass = "foot-link foot-link-prev" -%}
{%- assign nextclass = "foot-link foot-link-next" -%}

<footer>
  <nav class="footer-inner">
    {%- if page.tags -%}
    {%- if page.previous -%}
    <a class="{{ prevclass }}" href="{{ page.previous.url }}">Previous Post</a>
    {%- else -%}
    <a class="{{ prevclass }}">Previous Post</a>
    {%- endif -%}

    <a class="foot-link foot-link-home" href="/">Home</a>

    {%- if page.next -%}
    <a class="{{ nextclass }}" href="{{ page.next.url }}">Next Post</a>
    {%- else -%}
    <a class="{{ nextclass }}" disabled>Next Post</a>
    {%- endif -%}
    {%- endif -%}
  </nav>
</footer>
