<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% assign rel = "apple-touch-icon" -%}
{%- assign type = "image/png" -%}
{% for size in site.data.icons.sizes -%}
{%- capture sizes -%}{{ size }}x{{ size }}{%- endcapture -%}
{%- capture href -%}/img/apple-touch-icon-{{ size }}.png{%- endcapture -%}
<link rel="{{ rel }}" type="{{ type }}" sizes="{{ sizes }}" href="{{ href }}"/>
{% endfor -%}
{%- seo -%}
<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/dist/sw.js", { scope: "/" })
        .then(function(reg) {
          console.log("Registered.");
        })
        .catch(function(err) {
          console.log("Registration failed with: " + err);
        });
    });
  }
</script>
