{%- assign marker = "&curren;" -%}
{%- assign authmarker = "&emsp;" -%}
{%- capture linkurl -%}{{ include.link }}{%- endcapture -%}
{%- capture id -%}{{ include.title | strip_html | escape | slugify }}{%- endcapture -%}
{%- capture linktitle -%}{{ include.title | smartify }}{%- endcapture -%}
<hr class="article-sep">
<h4 class="link-name" id="{{ id }}">
  <span class="link-marker">{{ marker }}</span><a href="{{ linkurl }}">{{ linktitle }}</a>
</h4>
<h5 class="link-author" id="{{ include.author | slugify }}">
  <span class="auth-marker">{{ authmarker }}</span>{{ include.author }}
</h5>
