{% assign postsep = "&raquo;" %}
<div class="posts-list" id="posts-list">
    {% for post in site.posts %}
        <div id="post{{ forloop.index0 }}-bullet" class="post-bullet">&bullet;</div>
        <div id="post{{ forloop.index0 }}-date" class="post-date">{{ post.date | date_to_string }}</div>
        <div id="post{{ forloop.index0 }}-sep" class="post-sep">{{ postsep }}</div>
        <div id="post{{ forloop.index0 }}-title" data-tags="{{ post.tags | join " " }}" class="post-title">
          <a title="{{ post.description }}" class="post-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </div>
    {% endfor %}
</div>
