body {
  @include rfs(1rem);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: $link-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $header-margin-bottom;
  margin-top: 0;
}

p {
  margin-bottom: $par-margin-bottom;
  margin-top: 0;
}

%common-border {
  @include border-width(1px 1px null 1px);
  @include border-style(solid solid null solid);
  @include border-color(
    $common-border-color $common-border-color null $common-border-color
  );
}

.header-nav,
.title,
.content,
footer {
  width: 95%;
  @include mq($from: "md") {
    width: $resp-width;
  }
}

.header-nav,
.content,
footer {
  margin: $common-margin;
  padding: $common-padding;
  @extend %common-border;
}

.title {
  margin: $site-title-margin;
}

.some-kind-of-gradient {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
