html {
  box-sizing: border-box;
}
body {
  @include rfs(1rem);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: $link-color;
  }
}

%common-border {
  @include border-width(1px 1px null 1px);
  @include border-style(solid solid null solid);
  @include border-color(
    $common-border-color $common-border-color null $common-border-color
  );
}

nav,
#content,
footer {
  margin: $common-margin;
  padding: $common-padding;
  width: 90%;
  @extend %common-border;
  @include mq($from: "md") {
    width: $resp-width * 0.9;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-style: normal;
}

code {
  font-family: $code-font;
  @include font-size(0.9em);
}

.footsep {
  border-bottom: $footsep-border-size solid $footsep-border-color;
  border-top: $footsep-border-size solid $footsep-border-color;
  margin: 5.5em 0 1em;
  padding-top: 0.7em;
}

.article-sep {
  margin: 1.5em auto 0;
}
