.content {
  font-family: $body-font;
}
footer {
  font-family: $header-font;
}
.header-nav {
  font-family: $header-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-style: normal;
  font-weight: $header-font-weight;
}

h1 {
  @include font-size($h1-font-size);
}
h2 {
  @include font-size($h2-font-size);
}
h3 {
  @include font-size($h3-font-size);
}
h4 {
  @include font-size($h4-font-size);
}
h5 {
  @include font-size($h5-font-size);
}
h6 {
  @include font-size($h6-font-size);
}
code {
  font-family: $code-font;
  @include font-size(0.9em);
}

.footnote {
  font-style: normal;
  font-weight: 400;
}
