/* Colors */

/* Nav/Content Section */
$common-border-color: rgba(0, 0, 0, 0.33);

$content-background-color: #eeeeff;

/* Nav Bar */
$nav-color: rgba(221, 221, 255, 1);
$nav-link-color: rgba(80, 80, 250, 1);
$nav-current-color: rgba(150, 150, 238, 0.7);
$nav-link-border-color: rgba(0, 0, 0, 0.75);
$nav-link-hover-color: rgba(200, 200, 255, 0.5);

/* Footnotes */
$fn-opacity: 0;
$fn-bg-color: rgba(180, 180, 250, $fn-opacity);
$fn-border-color: rgba(0, 0, 0, $fn-opacity);

/* Article Title */
$title-color: black;
$title-hover-color: lightgray;

/* TODO Notes */
$todo-color: red;

/* Link Styling */
$link-hover-color: gainsboro;

/* Footnote Separator */
$footsep-border-color: #cccccc;

/* <a> tags */
$link-color: rgba(0, 0, 200, 1);
