/* General Theming */

@import 'colors';
@import 'util';

$responsive-min-width: 320px;
$responsive-max-width: 1200px;

/* Sets the default min and max viewport widths */
@mixin default-resp-font($min-font-size, $max-font-size) {
  @include resp-font(
    $responsive-min-width,
    $responsive-max-width,
    $min-font-size,
    $max-font-size
  );
}

/* Header Styling */
$header-font-weight: 700;
$header-margin: 0;

/* The width at which we trigger styling changes */
$resp-width: 768px;

/* Nav/Content Section */
$common-border: 1px solid $common-border-color;
$common-border-radius: 1em;
$common-margin: 0 auto;
$common-padding: 0.75em;
$common-width: 80%;

/* Container */
$site-title-margin: 0.5em auto;
$body-font-weight: 500;
$body-margin: 0.5em auto;
$body-link-style: oblique 10deg;
$body-indent-length: 3ex;
$body-par-margin: 0.3em auto;

/* Footer (not really used) */
/* Height of the page footer (not used) */
$footer-height: 2em;
$footer-margin: 1em auto 0;

/* Navigation Bar */
$nav-margin: 0 0 1em 0;
$nav-ul-margin: 0.25em 0;
$nav-ul-padding: 0 0 0 0;

/* Navigation Links */
$nav-link-border: 1px solid $nav-link-border-color;
$nav-link-border-radius: 0.4em;
$nav-link-margin: 0.75em 0.2em;
$nav-link-padding: 0.75em;
$nav-link-font-style: normal;
$nav-link-font-weight: 500;
$nav-link-text-dec: underline;

/* Footer Rule */
$footsep-border-size: 1px;

/* Footnote (Markers) */
$footnote-padding: 0 0.4% 0.1% 0.1%;
$footnote-border: 1px solid $fn-border-color;
$footnote-border-radius: 4px;

/* Footnotes (Text) */
$footnotes-font-size: 80%;

.font-normal {
  font-style: normal;
  font-weight: normal;
}
