#container {
  // min-height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;

  #title {
    margin: $site-title-margin;
    @include responsive-width($resp-width);
    @include rfs(36);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $header-font-weight;
    margin: $header-margin;
  }
  h1 {
    @include rfs(26);
    .link-title {
      text-decoration: none;
      color: $title-color;
      &:hover {
        background-color: $title-hover-color;
      }
    }
  }
  h2 {
    @include respond-to-width($resp-width, "font-size", 16pt, 14pt);
    @include rfs(20);
  }
  h3,
  h4 {
    @include rfs(18);
  }
  div {
    font-family: $body-font;
    strong {
      font-weight: 700;
      font-style: italic;
      text-decoration: underline;
    }
    @include rfs(17);
    font-weight: $body-font-weight;
    margin: $body-margin;
    .notice-todo {
      &::before {
        content: "TODO: ";
      }
      color: $todo-color;
      font-size: 16pt;
      font-weight: bold;
      text-decoration: underline;
      margin: 0;
    }
  }
  .post-link {
    // font-style: normal;
  }
}

#content {
  background: $content-background-color;
  line-height: 1.7;
  padding-bottom: $footer-height;
  p {
    text-align: justify;
    text-indent: $body-indent-length;
    margin: $body-par-margin;
    a {
      font-style: $body-link-style;
    }
  }
  h2 > a {
    @include border-radius(5px);
    font-style: normal;
    text-decoration: none;
    &:hover {
      background-color: $link-hover-color;
      text-decoration: underline;
    }
  }
  .link-marker {
  }
  .footnotes {
    font-size: $footnotes-font-size;
    margin: 0 auto;
    ol {
      list-style-position: outside;
      margin: 0 1rem 0 0;
      li {
        p:first-child {
          text-indent: 0;
        }
        p {
          text-indent: 3ex;
        }
      }
    }
  }
}
