nav {
  font-family: $header-font;
  background: $nav-color;
  min-height: 50px;
  margin: $nav-margin;

  ul {
    margin: $nav-ul-margin;
    padding: $nav-ul-padding;
  }
  li {
    margin: auto;
  }
  .nav-link {
    display: inline-block;
    margin: $nav-link-margin;

    a {
      border: $nav-link-border;
      @include border-radius($nav-link-border-radius);
      color: $nav-link-color;
      // @include default-resp-font(14px, 20px);
      @include rfs(20);
      display: inline-block;
      font-style: $nav-link-font-style;
      font-weight: $nav-link-font-weight;
      padding: $nav-link-padding;
      text-decoration: $nav-link-text-dec;

      &:hover {
        background-color: $nav-link-hover-color;
      }
      &:visited {
        color: $nav-link-color;
      }
    }
    #current-loc {
      background-color: $nav-current-color;
      text-decoration: none;
    }
  }
}
