@import 'util';
@import 'colors';
@import 'themes';
@import 'nav';
@import 'content';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

a {
  color: $a-color;
  &:visited {
    color: $a-color;
  }
}

nav,
#content {
  @include border-radius(1em);
  border: $common-border;
  margin: $common-margin;
  padding: $common-padding;
  @include responsive-width($resp-width);
  width: $common-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

footer {
  bottom: 0;
  height: $footer-height;
  margin: $footer-margin;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footnote {
  @extends .font-normal;
  background-color: $fn-bg-color;
  border: $footnote-border;
  @include border-radius($footnote-border-radius);
  padding: $footnote-padding;
  text-decoration: none;
}


.footsep {
  border-top: $footsep-border-size solid $footsep-border-color;
  border-bottom: $footsep-border-size solid $footsep-border-color;
  margin: 5.5em 0 1em;
  padding-top: 0.7em;
}

.article-sep {
  margin: 1.5em auto 0;
}
