@import "util";

$header-font: 'Trirong', Garamond, serif;
$body-font: 'Rubik', Helvetica, sans-serif;
$footer-height: 2em;
$resp-width: 768px;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    box-sizing: border-box;
}

a:visited {
    color: blue;
}

nav, #content {
    @include border-radius(1em);
    margin: 0 auto;
    padding: 0.75em;
    @include responsive-width($resp-width);
    width: 90%;
}

nav {
    font-family: $header-font;
    background: #ddf;
    min-height: 50px;
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
        margin: 1.5em 2%;
        a {
            @include border-radius(0.25em);
            border: 1px solid black;
            font-size: 14pt;
            padding: 0.5em;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

#container {
    min-height: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    #title {
        margin: 0.5em auto;
        @include responsive-width($resp-width);
        @include resp-font(320px, 1200px, 20px, 36px);
}
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin: 0;
    }
    h1 {
        @include resp-font(320px, 1200px, 16px, 24px);
        .link-title {
            text-decoration: none;
            color: black;
            &:hover {
                background-color: lightgray;
            }
        }
    }
    h2 {
        @include respond-to-width($resp-width, "font-size", 16pt, 14pt);
    }
    h3 {
        font-size: 14pt;
    }
    h4 {
        font-size: 14pt;
    }
    div {
        font-family: $body-font;
        @include resp-font(320px, 1200px, 12px, 16px);
        font-weight: 500;
        margin: 0.5em auto;
        .footnotes {
            font-size: 85%;
        }
    }

}

#content {
    background: #eef;
    line-height: 1.7;
    padding-bottom: $footer-height;
    h2 > a {
        text-decoration: none;
        &:hover {
            background-color: gainsboro;
        }
    }
}

footer {
    bottom: 0;
    height: $footer-height;
    margin: 1em auto 0;
    position: absolute;
    text-align: center;
    width: 100%;
}