$body-font: "Spectral", Garamond, serif;
$header-font: "Fira Sans", Helvetica, sans-serif;
$code-font: "IBM Plex Mono", monospace;

$rfs-base-value: 1rem;
$rfs-breakpoint: 992px;
$rfs-factor: 10;

$mq-responsive: true;
$mq-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/* Header Styling */
$header-font-weight: 700;
$header-margin-bottom: 0.33rem;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

/* The width at which we trigger styling changes */
$resp-width: 700px;

/* Nav/Content Section */
$common-border: 1px solid $common-border-color;
$common-border-radius: 0.5rem;
$common-margin: 0 auto;
$common-padding: 0;

$par-margin-bottom: 1rem;

/* Container */
$site-title-margin: 0.5em auto;
$body-font-weight: 400;
$body-margin: 0.5em auto;
// $body-link-style: oblique 10deg;
$body-link-style: normal;
$body-indent-length: 3ex;
$body-par-margin: 0.3em auto;

/* Footer */
/* Height of the page footer  */
$footer-height: 3em;
$footer-min-height: 1em;
$footer-margin: 0 auto 1em;
$footer-padding: 0.5em;
$foot-link-margin: 0.75rem 0.25rem;
$foot-link-padding: 0.25em;

/* Navigation Bar */
$nav-margin: 0 auto;
$nav-ul-margin: 0 0.5rem;
$nav-ul-padding: 0;

/* Navigation Links */
$nav-link-border: 1px solid $nav-link-border-color;
$nav-link-border-radius: 0.25rem;
$nav-link-margin: 1em 0.25em;
// $nav-link-margin: 0.75em auto;
$nav-link-padding: 0.75em;
$nav-link-font-weight: 400;
$nav-link-text-dec: underline;

/* Footer Rule */
$footsep-border-size: 1px;

/* Footnote (Markers) */
$footnote-padding: 0;
$footnote-border: 0 dotted $fn-border-color;
$footnote-border-radius: 1px;

/* Footnotes (Text) */
$footnotes-font-size: 85%;

$link-title-font-size: 1.75rem;
