.content {
  background: $content-background-color;
  line-height: 1.7;
  padding-bottom: $footer-height;

  & > * {
    padding: 0.5rem 1rem;
  }
  & > hr {
    padding-bottom: 0;
    padding-top: 0;
  }
  p {
    text-align: justify;
    text-indent: $body-indent-length;
    a {
      font-style: $body-link-style;
    }
  }
}
