#content {
  background: $content-background-color;
  font-family: $body-font;
  font-style: normal;
  line-height: 1.7;
  padding-bottom: $footer-height;
  & > * {
    padding: 0.5rem 1rem;
  }
  p {
    margin: $body-par-margin;
    text-align: justify;
    text-indent: $body-indent-length;
    a {
      font-style: $body-link-style;
    }
  }
  h2 > a {
    font-style: normal;
    text-decoration: none;
    @include border-radius(5px);
    &:hover {
      background-color: $link-hover-color;
      text-decoration: underline;
    }
  }
}
