.container {
  overflow: hidden;
  padding: 0;
  position: relative;

  div {
    strong {
      font-weight: 700;
      text-decoration: underline;
    }
    // margin: $body-margin;
    .notice-todo {
      color: $todo-color;
      font-weight: 700;
      margin: 0;
      text-decoration: underline;
      @include font-size(1.25rem);
      &::before {
        content: "TODO: ";
      }
    }
  }
}
