footer {
  font-family: $header-font;
  font-style: normal;
  background-color: $nav-color;
  bottom: 0;
  margin: $footer-margin;
  padding: $footer-padding;
  text-align: center;

  ul {
    margin: $nav-ul-margin;
    padding: $nav-ul-padding;
  }

  .foot-link {
    display: inline-block;
    margin: $foot-link-margin;

    padding: auto;
    width: 7em;
    a {
      border: $nav-link-border;
      @include border-radius($nav-link-border-radius);
      color: $nav-link-color;
      @include rfs(14);
      display: inline-block;
      font-weight: $nav-link-font-weight;
      padding: $foot-link-padding;
      text-decoration: $nav-link-text-dec;

      &:hover {
        background-color: $nav-link-hover-color;
      }
      &:visited {
        color: $nav-link-color;
      }
    }
  }
}
