footer {
  background-color: $nav-color;
  border-bottom: $common-border;
  bottom: 0;
  margin: $footer-margin;
  min-height: $footer-min-height;
  text-align: center;
  @include border-bottom-radius($common-border-radius);
  @include border-top-radius(0);
}

.footer-inner {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .foot-link {
    border: $nav-link-border;
    flex: 1 1 33%;
    margin: $foot-link-margin;
    max-width: 30%;
    padding: $foot-link-padding;
    @include border-radius($nav-link-border-radius);
  }
  a {
    color: $disabled-color;
  }
  a[href] {
    color: $nav-link-color;
    font-weight: $nav-link-font-weight;
    text-decoration: $nav-link-text-dec;
    @include font-size(1rem);
    &:hover {
      background-color: $nav-link-hover-color;
    }
    &:visited {
      color: $nav-link-color;
    }
  }
}
