footer {
  background-color: $nav-color;
  border-bottom: $common-border;
  bottom: 0;
  font-family: $header-font;
  margin: $footer-margin;
  min-height: 1em;
  text-align: center;
  @include border-bottom-radius($common-border-radius);
  @include border-top-radius(0);

  ul {
    margin: $nav-ul-margin;
    padding: $nav-ul-padding;
  }

  .foot-link {
    display: inline-block;
    margin: $foot-link-margin;

    padding: auto;
    width: 7em;
    a {
      border: $nav-link-border;
      color: $nav-link-color;
      display: inline-block;
      font-weight: $nav-link-font-weight;
      padding: $foot-link-padding;
      text-decoration: $nav-link-text-dec;
      @include border-radius($nav-link-border-radius);
      @include font-size(0.8rem);

      &:hover {
        background-color: $nav-link-hover-color;
      }
      &:visited {
        color: $nav-link-color;
      }
    }
  }
}
